article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
button,
input {
  line-height: normal;
  /* 1 */

}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 300 1rem/1.2rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  color: #2a2a2a;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  text-decoration: none;
  border: none;
  color: #2a2a2a;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0088cc;
}
h1 {
  font-size: 4.2em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.3em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.6em;
}
h6 {
  font-size: 1.4em;
}
a {
  color: #2a2a2a;
  transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
a:hover {
  color: #0088cc;
}
.content p,
.content ul,
.content ol {
  font: normal 1.4em/1.7em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.content article .single p:first-child {
  margin-top: 0;
}
.content article .single h1,
.content article .single h2,
.content article .single h3,
.content article .single h4,
.content article .single h5 {
  margin-top: 1.5em;
  margin-bottom: 0.3em;
}
.content article .single h2 {
  border-bottom: #cacaca dashed 1px;
  padding-bottom: 0.2em;
}
.content article .single h4 {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}
.content article .single h5 {
  font-size: 1.4em;
  font-weight: bold;
}
.content img {
  -webkit-box-shadow: 0 1px 2px #999;
  -moz-box-shadow: 0 1px 2px #999;
  box-shadow: 0 1px 2px #999;
  display: block;
  margin: 0 auto;
}
.content blockquote {
  border-left: 3px solid #EEE;
  margin-left: 2em;
  padding-left: 2em;
}
.content blockquote p {
  font-style: italic;
  font-family: Georgia, Garamond, Times, serif;
  font-size: 1.5em;
}
p,
ul,
ol,
pre code,
blockquote {
  margin: 1em 0 1.5em 0;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
p > code {
  padding: 2px 4px;
  color: #0088cc;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  background-color: whiteSmoke;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
.price {
  font-weight: bold;
  color: #900;
}
.price-discount {
  text-decoration: line-through;
  font-style: italic;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  max-width: 1170px;
}
#center_column {
  display: inline;
  float: left;
  width: 64.16666666666667%;
  margin: 0 1.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar {
  display: inline;
  float: left;
  width: 14.166666666666666%;
  margin: 0 1.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
}
.sidebar .block ol,
.sidebar .block ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.sidebar .block ul li {
  border-bottom: 1px dotted #CCC;
}
.sidebar .block ul li a {
  display: block;
  padding: 7px 11px;
}
.sidebar .block ul li a:hover {
  background: #fafafa;
}
.sidebar .block ul.products li a {
  padding: 0;
}
.block {
  margin-bottom: 40px;
}
.block h1,
.block > h4 {
  font-size: 16px;
  font-size: 1.6rem;
  border-bottom: 1px solid #999;
  padding-bottom: 0.5em;
  margin-bottom: 0.3em;
}
.block h2 {
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
}
#page > footer {
  clear: both;
  border-top: 1px solid #999;
  padding: 20px 0;
}
