// =|= Imported Styles / Frameworks etc =====================================
@import "includes/normalize.less";
@import "includes/grid.less";
@import "includes/typography.less";
@import "includes/settings.less";

// =|= Structure ============================================================
html {
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	max-width: 1170px;
}

// =|= Center content =======================================================
#center_column {
	.column(8);
}

// -|- Side bars ----------------------------------------------------
.sidebar {
	.column(2);
	.font-size(12);
}

// =|= Sidebar Block Modules ================================================
.sidebar .block {
	// -|- Lists such as categories and manufacturers -------------------
	ol, ul {.no-bullets}
	ul li {
		border-bottom: 1px dotted #CCC;

		a {
			display:block;
			padding:7px 11px;
			&:hover {background: #fafafa;}
		}
	}
	ul.products li a {
		padding: 0;
	}
}
// -|- Block Module Titles ------------------------------------------
.block  {
	margin-bottom: 40px;

	h1, > h4 {
		.font-size(16);
		border-bottom: 1px solid #999;
		padding-bottom: 0.5em;
		margin-bottom: 0.3em;
	}
	h2 {
		font-weight: bold;
		.font-size(14);
	}
}