// =|= Imported Styles / Frameworks etc ======================================
@import "../../includes/settings.less";

// =|= Block Home Featured styles ============================================
.homefeatured{
	.clearfix;
	
	ul {
		.no-bullets;
		li {
			float: left;
			width: 21%;
			padding: 2%;
		}
	}

	img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}
}