@import "includes/defines";
#wrapper {
	@include width(12);
	margin: 0 auto;
	text-align: left; }
	
header,
footer,
#contentwrapper {
	@include clearfix;}
	
#sidebar-a,
#sidebar-b,
#content {
	position: relative;
	display: inline-block;
	float: left;
}

/* -------------------------------------------------- *
	Sitebar function
 * -------------------------------------------------- */
#content { @include width(8);}

#sidebar-a,
#sidebar-b { 
	@include width(2);
	margin-left: $gutter-em;}

.sidebar-a-left {
	#sidebar-a {
		left:-$cols8;
		margin-right: $gutter-em;
		margin-left: 0;}
	
	#sidebar-b {
		margin-left: $gutter-em;} }

.sidebar-b-left {
	#sidebar-b {
		left:-$cols8;
		margin-right: $gutter-em;}
		
	#sidebar-a {
		margin-left: $gutter-em;} }
		
	
.sidebar-a-left #content,
.sidebar-b-left #content {
	left:$cols2 + $gutter-em; }
	
.sidebar-a-left.sidebar-b-left {
	#sidebar-a, #sidebar-b {
		left:-$cols8;
		margin-right: $gutter-em;
		margin-left: 0; }
		
	#content {
		left:$cols4 + $gutter-em; } }