.blockpermanentlinks-header ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.blockpermanentlinks-header ul li {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #cacaca;
}
.blockpermanentlinks-header ul li:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}
.blockpermanentlinks-header ul li a {
  display: block;
}
