.editorial img {
  border: 1px solid #eaeaea;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.editorial #editorial_image_legend {
  font-style: italic;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
}
.editorial h1 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: 1em;
}
