body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.blockreinsurance {
  *zoom: 1;
  display: inline;
  float: left;
  width: 97.22222222222221%;
  margin: 0 1.3888888888888888%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 50px;
}
.blockreinsurance:before,
.blockreinsurance:after {
  content: "";
  display: table;
}
.blockreinsurance:after {
  clear: both;
}
.blockreinsurance ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.blockreinsurance ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 10px 60px;
  height: 50px;
  float: left;
}
.blockreinsurance .width1 li {
  width: 100%;
}
.blockreinsurance .width2 li {
  width: 50%;
}
.blockreinsurance .width3 li {
  width: 33%;
}
.blockreinsurance .width4 li {
  width: 25%;
}
.blockreinsurance .width5 li {
  width: 20%;
}
