.blockreinsurance {
  *zoom: 1;
  display: inline;
  float: left;
  width: 1050px;
  margin: 0 15px;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 50px;
}
.blockreinsurance:before,
.blockreinsurance:after {
  content: "";
  display: table;
}
.blockreinsurance:after {
  clear: both;
}
.blockreinsurance ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.blockreinsurance ul li {
  padding: 10px 10px 10px 60px;
  height: 50px;
  float: left;
}
.blockreinsurance .width1 li {
  width: 100%;
}
.blockreinsurance .width2 li {
  width: 50%;
}
.blockreinsurance .width3 li {
  width: 33%;
}
.blockreinsurance .width4 li {
  width: 25%;
}
.blockreinsurance .width5 li {
  width: 20%;
}
